<!DOCTYPE html>
<html lang="" ng-app="ngBrowserUpdateDemo">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@tinesoft">
        <meta name="twitter:title" content="ngBrowserUpdate">
        <meta name="twitter:description" content="AngularJS directive for Browser-Update.org (http://browser-update.org): out-dated browsers notifier">
        <meta name="twitter:creator" content="@tinesoft">
        <!--<meta name="twitter:image:src" content="">-->
        <meta property="og:title" content="ngBrowserUpdate" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://tinesoft.github.io/ng-borwser-update" />
        <!--<meta property="og:image" content="" />-->
        <meta property="og:description" content="AngularJS directive for Browser-Update.org (http://browser-update.org): out-dated browsers notifier">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ngBrowserUpdate Directive Demo</title>

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- compiled CSS -->
        <link rel="stylesheet" type="text/css" href="bower_components/google-code-prettify/src/prettify.css" />
        
        <link rel="stylesheet" type="text/css" href="assets/ng-browser-update-demo.css" />
        
        <!-- compiled JavaScript -->
        <script type="text/javascript" src="assets/ng-browser-update-demo.js"></script>

        

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	      <div class="navbar-inner">
	        <div class="container">
	          <div class="navbar-header">
	          </div>
	          <ul class="nav navbar-nav">
	            <li>
	              <a href="#" class="navbar-brand">ngBrowserUpdate</a>
	                <small>
		              <a href="http://github.com/tinesoft/ng-browser-update/blob/v1.1.0/CHANGELOG.md">
		                v1.1.0
		              </a>
		            </small>
	            </li>
	          </ul>
	        </div>
	      </div>
		</nav>

		<header>
			<div class="jumbotron">
				<div class="container">
					<h1>ngBrowserUpdate</h1>
					<p>AngularJS directive for <a href="https://browser-update.org"  target="_blank">Browser-Update.org</a>,
					   a service that  unobtrusively informs your visitors to switch to a newer browser when browsing with an outdated one.
					</p>
				    <p>
				    	<a class="btn btn-outline-inverse btn-lg" href="https://browser-update.org"  target="_blank">
				    		<i class="fa fa-info fa-lg"></i> Learn More
				    	</a>
						<a class="btn btn-outline-inverse btn-lg" href="https://github.com/tinesoft/ng-browser-update" target="_blank">
							<i class="fa fa-github fa-lg"></i> Code on Github
						</a>
						<a class="btn btn-outline-inverse btn-lg" href="https://github.com/tinesoft/ng-browser-update/releases/tag/v1.1.0">
							<i class="fa fa-download fa-lg"></i> Download <small>(1.1.0)</small>
						</a>
				    </p>
				</div>
			</div>
		</header>

		<section  ng-controller="PlunkerCtrl" ng-init="vendor_js=['https://rawgithub.com/tinesoft/ng-browser-update/master/src/ng-browser-update.js'];" >
			<div class="container">
				<div class="row">
				    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
		                <h1>Minimal code</h1>        
		            </div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
						<p>Simplest usage possible! Just add the directive in your html page (preferably, just below the <code>&lt;body&gt;</code> tag).</p>						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right" ng-controller="PlunkerCtrl"
		                 ng-init=
		               		"vendor_js=['https://rawgithub.com/tinesoft/ng-browser-update/master/src/ng-browser-update.js'];" >
		             
		              <div class="pull-right">
		                <button class="btn btn-info" ng-click="edit('1.0.7', 'ngBrowserUpdate', 'ng-browser-update')">
						  	<i class="fa fa-eye"></i> See / 
		                	<i class="fa fa-edit"></i> Edit in plunker
		                </button>
		              </div>
		              <tabset>
		                <tab heading="Markup">
		                  <div plunker-content="markup">
		                      <pre class="prettyprint">
&lt;browser-update&gt;&lt;/browser-update&gt;
		                      </pre>
		                  </div>
		                </tab>
		              </tabset>
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		            	<p>This displays a notification bar that looks like this:</p>
		            	<img src="assets/notif-sample.png" class="img-responsive" alt="Sample of the Notification Bar">
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 callout callout-warning">
		            	<p><strong>Note:</strong> With the minimal code, you will only see the notification bar if you are actually browsing with an outdated browser.</p>
		            </div>

				</div>
			</div>
		</section>

		<section ng-controller="PlunkerCtrl" ng-init="vendor_js=['https://rawgithub.com/tinesoft/ng-browser-update/master/src/ng-browser-update.js'];" >
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
		                <h1>With Options</h1>        
		            </div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
						<p>A little more complete usage, with some options given via <b>hardcoded values</b>.</p>						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
		             
		              <div class="pull-right">
		                <button class="btn btn-info" ng-click="edit('1.0.7', 'ngBrowserUpdate', 'ng-browser-update')">
						  	<i class="fa fa-eye"></i> See / 
		                	<i class="fa fa-edit"></i> Edit in plunker
		                </button>
		              </div>
		              <tabset>
		                <tab heading="Markup">
		                  <div plunker-content="markup">
		                      <pre class="prettyprint">
&lt;browser-update  
   versions="{i:8,f:8,o:9.63,s:2,c:8}" reminder="1"
   always-show-bar="true" new-window="false" 
   notification-text="This is my custom message"&gt;
&lt;/browser-update&gt;
		                      </pre>
		                  </div>
		                </tab>
		              </tabset>
		            </div>
		            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 callout callout-info">
		                <p>The following options are available:</p>
		                <ul>
							<li><b>versions</b> : browser versions to notify</li>
							<li><b>language</b> : set a language for the message, e.g. "en", overrides the default detection</li>
							<li><b>reminder</b> : atfer how many hours should the message reappear: 0 = show all the time</li>
							<li><b>new-window</b>: open link in new window/tab</li>
							<li><b>always-show-bar</b>:  always show the bar (for testing)</li>
							<li><b>notification-text</b> : custom notification html text (takes precedence over the 'language' option)</li>
							<li><b>on-notification-bar-shown</b>: callback function after the bar has appeared</li>
							<li><b>on-notificationBar-clicked</b>: callback function if bar was clicked</li>
		                </ul>    
		            </div>
				</div>
			</div>
		</section>

		<section ng-controller="PlunkerCtrl" 
		ng-init="
		content.javascript= 'app.controller(\'MyCtrl\', [\'$scope\',\'$window\', function ($scope, $window) {\n'+
			'	$scope.versions = {i:8,f:8,o:9.63,s:2,c:8};\n'+
			'	$scope.language = \'it\';\n'+
			'	$scope.reminder = 1;\n'+
			'	$scope.newWindow= true;\n'+
			'	$scope.alwaysShowBar= true;\n'+

			'	//callback functions\n'+
			'	$scope.onNotificationBarShown= function(data){};\n'+
			'	$scope.onNotificationBarClicked= function(data){ $window.alert(\'Notification bar clicked!\');};\n'+
			'}]);';
		vendor_js=['https://rawgithub.com/tinesoft/ng-browser-update/master/src/ng-browser-update.js'];" >
			<div class="container">
				<div class="row">
		
		            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
						<p>Another usage, with some options given via <b>scope values</b>.</p>						
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right">
		             
		              <div class="pull-right">
		                <button class="btn btn-info" ng-click="edit('1.0.7', 'ngBrowserUpdate', 'ng-browser-update')">
						  	<i class="fa fa-eye"></i> See / 
		                	<i class="fa fa-edit"></i> Edit in plunker
		                </button>
		              </div>
		              <tabset>
		                <tab heading="Markup">
		                  <div plunker-content="markup">
		                      <pre class="prettyprint">
&lt;div  ng-controller="MyCtrl"&gt;
   &lt;browser-update
    versions="versions" reminder="reminder"
    new-window="newWindow" 
    always-show-bar="alwaysShowBar" 
    on-notification-bar-shown="onNotificationBarShown(null)"
    on-notification-bar-clicked="onNotificationBarClicked(null)"&gt;
   &lt;/browser-update&gt;
&lt;/div&gt;
		                      </pre>
		                  </div>
		                </tab>
		            	<tab heading="MyCtrl">
		                  <div>
		                      <pre class="prettyprint">
&lt;script &gt;
angular.module('demoApp', [])
.controller('MyCtrl', ['$scope', '$window', 
 function ($scope, $window) {
  $scope.versions = {i:8,f:8,o:9.63,s:2,c:8};					
  $scope.language = 'it';					
  $scope.reminder = 1;				
  $scope.newWindow= true;					
  $scope.alwaysShowBar= true;	
  		
  //callback functions
  $scope.onNotificationBarShown= function(data){};
  $scope.onNotificationBarClicked= function(data){ 
  	$window.alert('Notification bar clicked!');};
}]);

&lt;/script&gt;
		                      </pre>
		                  </div>
		                </tab>
		              </tabset>
		            </div>
				</div>
			</div>
		</section>

		<section ng-controller="PlunkerCtrl" ng-init="vendor_js=['https://rawgithub.com/tinesoft/ng-browser-update/master/src/ng-browser-update.js'];" >
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 page-header">
		                <h1>CSS Customization</h1>      
		            </div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<p>If you're not happy with the default style, <a href="http://browser-update.org/en/customize.html" target="_blank">Browser-Update.org</a>
						let you customize the appearance of the notification bar via those css-rules.
						</p>					
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="pull-right">
							<button class="btn btn-info" ng-click="edit('1.0.7', 'ngBrowserUpdate', 'ng-browser-update')">
							  	<i class="fa fa-eye"></i> See / 
			                	<i class="fa fa-edit"></i> Edit in plunker
							</button>
						</div>
						<tabset>
							<tab heading="Markup">
			                  <div plunker-content="markup">
			                      <pre class="prettyprint">
&lt;browser-update always-show-bar="true"&gt;&lt;/browser-update&gt;
			                      </pre>
			                  </div>
			                </tab>
			                <tab heading="CSS" selected="true">
			                  <div plunker-content="css">
			                    <pre class="prettyprint">
body .buorg {font-size:20px}

body .buorg {
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    border-bottom:1px solid #A29330;
    background:#FDF2AB no-repeat 1em 0.55em url(http://browser-update.org/img/dialog-warning.gif);\
    text-align:left;
    cursor:pointer;
    font-family: Arial,Helvetica,sans-serif; color:#000;
    font-size: 12px;
}

body .buorg div {
    padding:5px 36px 5px 40px;
}

body .buorg a {
    color:#E25600;
}

#buorgclose {
    position: absolute;
    right: .5em;
    top:.2em;
    height: 20px;
    width: 12px;
    font-weight: bold;
    font-size:14px;
    padding:0;
}
			                    </pre>
			                  </div>
			                </tab>
			              </tabset>						
					</div>
				</div>
			</div>
		</section>

		<footer class="footer" role="footer" >
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <ul class="links">
                      <li><a href="https://github.com/tinesoft/ng-browser-update/blob/master/LICENSE " target="_blank">MIT License</a></li>
                      <li><a href="https://github.com/tinesoft/ng-browser-update/issues?state=open"    target="_blank">Open Issues</a></li>
                  </ul> 
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <p class="designed-and-coded">Designed and Coded with <i class="fa fa-heart heart"></i> by <a href="https://www.linkedin.com/in/kondotine/en" target="_blank">Tine Kondo</a></p>                  
                </div>
              </div>
            </div>
        </footer>
	</body>
</html>